<div class="row">
	<div class="content">
		<div class="my-reservation">
			<h2 class="hd">Moja rezervacija za danas</h2>

			<form action="">
				<div class="form-group">
					<label for="dish" class="control-label">Jelo</label>
					<div class="controls">
						<select name="dish" id="dish" class="form-control">
							<option value="">Biraj... </option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="notes" class="control-label">Napomena</label>
					<div class="controls"><textarea name="notes" id="notes" rows="2" class="form-control"></textarea></div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-info">Spremi</button>
				</div>
			</form>
		</div>

		<div class="reservations">
			<div id="reservation-reload">
				<div class="complete-overview">
					<h2 class="hd">Pregled rezervacija</h2>

					<ul>
						{{#each overview}}
							<li>
								<strong>{{count}}</strong> x
								<em class="code"><i class="glyphicon glyphicon-cutlery"></i> {{dish}}</em>
								<em class="dish">{{title}}</em>
								<span class="price">{{price}} kn</span>

								<p class="notes">

										<i class="glyphicon glyphicon-bookmark"></i>
										<i class="count">Note count</i>
										x
										<i class="text">Note text</i>
										<br>
								</p>
							</li>
						{{/each}}
					</ul>

					<blockquote>
						<p>Ukupno: <em>{{total_price}} kn</em></p>
					</blockquote>
				</div>

				<hr>

				<div class="reservation-overview">
					<h2 class="hd">Sve rezervacije</h2>

					<ul>
						{{#each reservations}}
							<li>
								<h4>{{user.first_name}} {{user.last_name}}</h4>

								<h3>
									<i class="glyphicon glyphicon-cutlery"></i>

									<em class="code">{{dish}}</em>
									<strong class="title"> {{dish_data.title}}</strong>
									<span class="price"> / {{dish_data.price}} <i>kn</i></span>
								</h3>

								{{#if notes}}
									<p>
										<i class="glyphicon glyphicon-bookmark"></i>
										{{notes}}
									</p>
								{{/if}}
							</li>
						{{/each}}
					</ul>
				</div>

				<blockquote>
					<p>Ukupno: <em>{{total_price}} kn</em></p>
				</blockquote>
			</div>
		</div>
	</div>
</div>
